*{
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

.card{
    width: 200px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 24px;
    margin: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    /* background-color: rgba(255, 255, 245, 0.05); */
    position: relative;
    
}

.card img{
    width: 100px;
    margin:16px 0;
}

.card img ~ p{
    margin: 12px 0  ;
}

.card *{
    z-index: 5;
}

.card button{
    width: 85%;
    border: none;
    padding: 8px 10px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 245, 0.15);
    border-radius: 8px;
}

img, p{
    background-color: transparent;
}
#absolute{
    position: absolute;
    width: 156px;
    height: 156px;
    background: linear-gradient(#ea1745, #791b2f);
    border-radius: 50%;   
    transform: translate(-50%, -50%);
    z-index: 1 !important;
    filter: blur(50px);
    opacity: 0;
}

#absoluteG{
    position: absolute;
    width: 156px;
    height: 156px;
    background: linear-gradient(#2ce407, #083b01);
    border-radius: 50%;   
    transform: translate(-50%, -50%);
    z-index: 1 !important;
    filter: blur(50px);
    opacity: 1;
}